.App{
    padding-top:10px;
     display: flex;
     flex-direction:column;
     align-items: center; 
}

.main-div{
    text-align: center;
    margin:10px;
}

.add-reminder-btn{
    margin:10px;
}

.reminder-element{
    display: inline;
}

.x-sign{
    float:right;
    background: none;
    border:none;
}